body {
    padding-bottom: 40px;
  color: black;
  background-color: #b0bec5;
}

HTML {
  color: black;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.nav-wrapper {
  font-size: 30px;
}

textarea {
  min-height: 200px;
}

.nav-breadcrumb {
  margin-bottom: 20px;
}

.waves-effect {
  margin-bottom: 20px;
}

form {
  border: none !important;
  color: black;
}

label {
  color: #2BBBAD;
}

ul, ol {
  list-style: none;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}


.demo:hover .gridster {
  opacity: 1;
}

.gridster {
  width: 940px;
  margin: 0 auto;

  opacity: .8;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.gridster li {
  border: 3px solid #2bbbad;
}

.gridster .gs_w {
  background: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.list {
  background-color: #0d47a1;
  border: 1px solid gray;
}

.items .ui-selected {
  background: red;
  color: white;
  font-weight: bold;
}

.items {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
  width: 40%;
  float: left;
}

.items li {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.g {
  background-color: #bbdefb ;
}

.o {
  background-color: orange;
}

.highlight {
  border: 2px solid red;
  font-weight: bold;
}

.card-article {
  width: 48%;
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.title-category {
  padding-top: 20px;
  width: 300px;
  margin: auto;
  font-weight: 400;
  text-transform: uppercase;
}